<!DOCTYPE html>

<html>

<head>

 <title>Login Form</title>

 <link rel="stylesheet" href="/css/idk.css">

</head>

<body>

<form class="box" action="https://api.dapitt.site/users/login" method="post">

<h1>Login Here</h1>

<input name="username" type="text" placeholder="Username" required>

<input name="password" type="password" placeholder="Password" required>

<%- recaptcha %>

<input type="submit" name="" value="Login">

</form>

</body>

</html>


