<!DOCTYPE html>

<html>

<head>

 <title>Login Form</title>

 <link rel="stylesheet" href="css/idk.css">

</head>

<body>

<form class="box" action="https://api.dapitt.site/users/login" method="post">

<h1>Login Here</h1>

<input type="text" name="" placeholder="Username">

<input type="password" name="" placeholder="Password">

<%- recaptcha %>

<input type="submit" name="" value="Login">

</form>

</body>

</html>


